<%- include("header") -%>

<h2>This is the about page</h2>

<p>An app to keep check of your daily tasks. You can add custom pages
     convinient to you and add related items to that page like work, studt, food, etc.</p>

<%- include("footer") -%>
